/* ===============================
   CONTENEDOR PRINCIPAL
================================ */
.business-detail-container {
  width: 100%;
  padding: 30px 10%;
  color: var(--on-background);
}

/* ===============================
   TÍTULO DEL NEGOCIO
================================ */
.business-title-box {
  background: var(--surface);
  padding: 25px 30px;
  border-radius: 14px;
  box-shadow: 0 4px 18px rgba(4, 3, 58, 0.61);
  margin-bottom: 35px;
  
}

.business-title {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
}

.business-category {
  margin-top: 6px;
  color: var(--muted);
}

/* ===============================
   GALERÍA DE IMÁGENES
================================ */
.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
  margin-bottom: 30px;
}

.photo-grid-item {
  height: 220px;
  border-radius: 14px;
  overflow: visible !important;
  position: relative;
}

.photo-grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px;
  transition: transform .35s ease;
  position: relative;
  z-index: 1;
}

.photo-grid-item:hover img {
  transform: scale(1.25);
  z-index: 5;
  box-shadow: 0 8px 25px rgba(0,0,0,0.35);
}

/* ===============================
   PESTAÑAS
================================ */
.tabs-header {
  display: flex;
  gap: 12px;
  border-bottom: 2px solid var(--line);
  margin-bottom: 20px;
}

.tab-btn {
  background: transparent;
  border: none;
  padding: 10px 4px;
  font-size: 1rem;
  color: var(--muted);
  cursor: pointer;
  border-bottom: 3px solid transparent;
  transition: .25s ease;
}

.tab-btn:hover {
  color: var(--on-background);
}

.tab-btn.active {
  color: var(--primary);
  border-color: var(--primary);
}

/* ===============================
   CONTENIDO DE PESTAÑAS
================================ */
.info-flex {
  display: flex;
  gap: 2rem;
  margin-top: 20px;
}

.info-left {
  flex: 1.2;
  background: var(--surface);
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.1);
}

.info-map {
  flex: 1;
  height: 280px;
}

.tab-content-box {
  background: var(--surface);
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.1);
}
